/* .body {
  text-align: center;
  justify-content: center;
  align-items: center;
  padding: 1%;
} */

.body {
  margin: 0;
  padding: 0;
  background: #fff;
}

.container {
  text-align: center;
  width: 900px;
  height: 100%;
  display: block;
  padding-top: 1%;
  padding-bottom: 1%;
  background-color: #ddd3ee;
}

.controller {
  background-color: #f1f1f1;
  padding: 1%;
  justify-content: space-around;
  align-items: center;
}

.main-content {
  background-color: lightcyan;
  padding: 1%;
}

.footer {
  background-color: lightblue;
  padding: 1%;
}

.boldText {
  font-weight: bold;
}

p {
  margin: 0.5;
}
